h2.section-header{
	text-transform: uppercase;
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 2.3rem;
	margin: 0;
	padding: 45px 0;

	span{
		display: inline-block;
		width: auto;
		position: relative;
	}

	&.fixed{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 10;
	}

	&.line{
		span:after{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 15px;
			right: 15px;
			height: 2px;
			background-color: #8584bd;
		}
	}
}